
    <div class="row">
        <div class="col-md-3">
            <img src="C:\Users\samah\Desktop\مسار مطور (.NET)\Phase 4 - .NET Application Testing and Deployment\Phase 4-projcet\Pizza\WebApplication1\Image\551863.jpg" />
            <br />
            <p>Hawaiian</p>
            <p style="font-weight:bold;">28</p>
        </div>

        <div class="col-md-3">

            <img src="C:\Users\samah\Desktop\مسار مطور (.NET)\Phase 4 - .NET Application Testing and Deployment\Phase 4-projcet\Pizza\WebApplication1\Image\553304.jpg" />
            <br />
            <p>Spicy Feast</p>
            <p style="font-weight:bold;">28</p>
        </div>
        <div class="col-md-3">
            <img src="C:\Users\samah\Desktop\مسار مطور (.NET)\Phase 4 - .NET Application Testing and Deployment\Phase 4-projcet\Pizza\WebApplication1\Image\555482.jpg" />
    <br />
    <p>Veggie</p>
            <p style="font-weight:bold;">28</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <img src="C:\Users\samah\Desktop\مسار مطور (.NET)\Phase 4 - .NET Application Testing and Deployment\Phase 4-projcet\Pizza\WebApplication1\Image\558435.jpg" />
            <br />
            <p>Margherita</p>
            <p style="font-weight:bold;">28</p>
        </div>

        <div class="col-md-3">

            <img src="C:\Users\samah\Desktop\مسار مطور (.NET)\Phase 4 - .NET Application Testing and Deployment\Phase 4-projcet\Pizza\WebApplication1\Image\560947.jpg" />
            <br />
            <p>BBQ Chicken</p>
            <p style="font-weight:bold;">28</p>
        </div>

        <div class="col-md-3">

            <img src="C:\Users\samah\Desktop\مسار مطور (.NET)\Phase 4 - .NET Application Testing and Deployment\Phase 4-projcet\Pizza\WebApplication1\Image\561205.jpg" />
            <br />
            <p>Four Cheese</p>
            <p style="font-weight:bold;">28</p>
        </div>
    </div>
